DATABASE_URL=""
AUTH_COOKIE_JWT_SECRET=""
DJANGO_SECRET_KEY=""

ALLOWED_HOST=""
STAGING_URL=""

FC_AMI_CLIENT_ID=""
FC_AMI_CLIENT_SECRET=""
PRO_CONNECT_AGENT_ADMIN_CLIENT_ID=""
PRO_CONNECT_AGENT_ADMIN_CLIENT_SECRET=""
FI_CLIENT_ID=""
FI_HASH_SALT=""
FI_IDP_ID=""

PARTNERS_PSL_SECRET=""
PARTNERS_DINUM_DN_SECRET=""
PARTNERS_DINUM_AMI_SECRET=""
PARTNERS_DINUM_RDVSP_SECRET=""

PUBLIC_CONTACT_EMAIL=""
