{% extends "agent_admin/base.html" %}

{% block content %}
  <h1>Gestion du catalogue de démarches</h1>

  <div class="fr-table fr-table--multiline">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table>
            <tbody>
              {% for service in object_list %}
                <tr>
                  <td>
                    {{ service.title }}
                    <br />
                    <span class="fr-text--xs">{{ service.short_description }}</span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
