{% extends "agent_admin/base.html" %}
{% load dsfr_tags %}

{% block content %}
  <h1>Gestion des droits des agents</h1>

  <form method="post" id="agent-forms">
    {% csrf_token %}
    {{ unauthorized_agents_formset.management_form }}
    {{ authorized_agents_formset.management_form }}
    <div class="fr-tabs">
      <ul class="fr-tabs__list" role="tablist" aria-label="Onglets des listes d'agents">
        <li role="presentation">
          <button type="button" id="tab-1" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tab-1-panel">Avec droits</button>
        </li>
        <li role="presentation">
          <button type="button" id="tab-2" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tab-2-panel">Sans droits</button>
        </li>
        <li role="presentation">
          <button type="button" id="tab-3" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tab-3-panel">Activité</button>
        </li>
      </ul>
      <div id="tab-1-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tab-1" tabindex="0">
        <div class="fr-table" id="with-role">
          <div class="fr-table__wrapper">
            <div class="fr-table__container">
              <div class="fr-table__content">
                <table id="table-with-role">
                  <tbody>
                    {% for form in authorized_agents_formset %}
                      <tr id="table-with-role-row-key-{{ forloop.counter0 }}" data-row-key="{{ forloop.counter0 }}">
                        <td>{{ form.id }}{{ form.instance.user.last_name }}<br />{{ form.instance.user.first_name }}</td>
                        <td>{{ form.role }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab-2-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tab-2" tabindex="0">
        <div class="fr-table" id="without-role">
          <div class="fr-table__wrapper">
            <div class="fr-table__container">
              <div class="fr-table__content">
                <table id="table-without-role">
                  <thead>
                    <tr>
                      <th>Agent concerné</th>
                      <th>Date de connexion</th>
                      <th>Statut</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for form in unauthorized_agents_formset %}
                      <tr id="table-without-role-row-key-{{ forloop.counter0 }}" data-row-key="{{ forloop.counter0 }}">
                        <td>{{ form.id }}{{ form.instance.user.last_name }}<br />{{ form.instance.user.first_name }}</td>
                        <td>{{ form.instance.proconnect_last_login|date:"d/m/Y" }}<br />à {{ form.instance.proconnect_last_login|date:"H\Hi" }}</td>
                        <td>{{ form.role }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab-3-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tab-3" tabindex="0">
        <div class="fr-table" id="activity">
          <div class="fr-table__wrapper">
            <div class="fr-table__container">
              <div class="fr-table__content">
                <table id="table-activity">
                  <thead>
                    <tr>
                      <th>Agent concerné</th>
                      <th>Rôle attribué</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ae in aes %}
                      <tr id="table-activity-row-key-{{ forloop.counter0 }}" data-row-key="{{ forloop.counter0 }}">
                        <td>{{ ae.agent_name }}<br /><span class="secondary-text">par {{ ae.author_name }}</span></td>
                        <td>{{ ae.extra_data.new_role_name|default:"Aucun" }}<br /><span class="secondary-text">ex : {{ ae.extra_data.old_role_name|default:"Aucun" }}</span></td>
                        <td>{{ ae.created_at|date:"d/m/Y" }}<br />à {{ ae.created_at|date:"H\Hi" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% dsfr_button_group btn_group %}
  </form>
{% endblock %}
