<!doctype html>
<html lang="en">
  <head>
    <title>Administration d'AMI</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/ami_admin/static/dsfr/dist/dsfr.min.css" />
    <link rel="stylesheet" href="/ami_admin/static/dsfr/dist/utility/utility.min.css" />
    {% block style %}
      <style>
        .container {
          header.ami-admin-header {
            padding: 1.5rem 1rem;
            background-color: var(--background-alt-grey);
          }

          .fr-container {
            padding-top: 1.5rem;

            .fr-connect-group {
              text-align: center;
              .fr-connect:before {
                width: 3.375em !important;
                background-size: 3.375em 3em !important;
                left: 0.625em !important;
                background-image: url("/icons/pro-connect-logo.svg") !important;
              }
            }

            nav.ami-admin-nav {
              margin-bottom: 2rem;
            }
          }
        }
      </style>
    {% endblock style %}
    <script lang="ts">
      const proConnect = async () => {
        const STATE = 'state-not-implemented-yet-and-has-more-than-32-chars'
        const NONCE = 'not-implemented-yet-and-has-more-than-32-chars'

        const query = {
          scope: 'openid identite_pivot preferred_username email',
          redirect_uri: '{{ PUBLIC_PRO_CONNECT_AMI_ADMIN_REDIRECT_URL }}',
          response_type: 'code',
          client_id: '{{ PUBLIC_PRO_CONNECT_AMI_ADMIN_CLIENT_ID }}',
          state: STATE,
          nonce: NONCE,
          acr_values: 'eidas1',
          prompt: 'login',
        }

        const url = `{{ PUBLIC_PRO_CONNECT_BASE_URL }}{{ PUBLIC_PRO_CONNECT_AUTHORIZATION_ENDPOINT }}`
        const params = new URLSearchParams(query).toString()

        window.location.href = `${url}?${params}`

        return Response.redirect(`${url}?${params}`)
      }
    </script>

  </head>
  <body class="container {% if not isProConnected %}not-connected{% endif %}">
    {% if isProConnected %}
      <header class="ami-admin-header">
        <h1>Administration d'AMI</h1>
        <form action="/ami_admin/logout" class="fr-connect-logout">
          <button class="fr-btn" type="submit">
            <span>Me déconnecter</span>
          </button>
        </form>
      </header>
    {% endif %}
    <main>
      {% block out_wrapper %}
        <div class="fr-container">
          {% block wrapper %}
            {% if not isProConnected %}
              <div class="homepage-not-connected">
                {% block not_connected_container %}
                  <p>
                    Pour accéder à l'interface d'administration d'AMI :
                  </p>
                  <div class="fr-connect-group">
                    <button
                      class="fr-connect"
                      type="button"
                      id="fr-connect-button"
                      onclick="proConnect()"
                    >
                      <span class="fr-connect__login">S’identifier avec</span>
                      <span class="fr-connect__brand">ProConnect</span>
                    </button>
                    <p>
                      <a href="https://www.proconnect.gouv.fr/"
                         target="_blank"
                         rel="noopener"
                         title="Qu’est-ce que ProConnect ? - nouvelle fenêtre"
                      >
                        Qu’est-ce que ProConnect ?
                      </a>
                    </p>
                  </div>
                {% endblock not_connected_container %}
              </div>
            {% else %}
              <div class="wrapper">
                {% block container %}
                  <nav class="ami-admin-nav">
                    <a href="/ami_admin/liste-des-usagers" class="fr-link">
                      <span>Liste des usagers</span>
                    </a>
                  </nav>
                {% endblock container %}
              </div>
            {% endif %}
          {% endblock wrapper %}
        </div>
      {% endblock out_wrapper %}
    </main>
    {% block extra_body %}{% endblock extra_body %}
    <script type="module" src="/ami_admin/static/dsfr/dist/dsfr.module.min.js"></script>
    <script type="text/javascript" nomodule src="/ami_admin/static/dsfr/dist/dsfr.nomodule.min.js"></script>
  </body>
</html>
