.fr-tile.fr-tile--sm.fr-enlarge-button:not(.fr-tile--no-icon) {
	.fr-tile__title {
		.am-after-icon-arrow::after {
			right: 0.5rem;
			--icon-size: 1.25rem;
			-webkit-mask-image: url('@gouvfr/dsfr/dist/icons/arrows/arrow-right-s-line.svg');
			mask-image: url('@gouvfr/dsfr/dist/icons/arrows/arrow-right-s-line.svg');
		}
	}
}
