<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@simplewebauthn/browser@11.0.0/dist/bundle/index.es5.umd.min.js"></script>
  </head>
  <body>
    <button id="btnAuthBegin">
      <strong>🔐&nbsp;Authenticate</strong>
    </button>
    <p id="authSuccess" class="success"></p>
    <p id="authError" class="error"></p>
    <details open>
      <summary>Console</summary>
      <textarea id="authDebug" spellcheck="false"></textarea>
    </details>
    <script>
      const { startAuthentication } = SimpleWebAuthnBrowser;
      function printDebug(elemDebug, title, output) {
        if (elemDebug.innerHTML !== '') {
          elemDebug.innerHTML += '\n';
        }
        elemDebug.innerHTML += `// ${title}\n`;
        elemDebug.innerHTML += `${output}\n`;
      }

      document.querySelector('#btnAuthBegin').addEventListener('click', async () => {
        const elemSuccess = document.querySelector('#authSuccess');
        const elemError = document.querySelector('#authError');
        const elemDebug = document.querySelector('#authDebug');

          // Reset success/error messages
        elemSuccess.innerHTML = '';
        elemError.innerHTML = '';
        elemDebug.innerHTML = '';

        const resp = await fetch('/api/passkey/generate-authentication-options');

        let asseResp;
        try {
          const opts = await resp.json();
          printDebug(elemDebug, 'Authentication Options', JSON.stringify(opts, null, 2));

          asseResp = await startAuthentication({ optionsJSON: opts });
          printDebug(elemDebug, 'Authentication Response', JSON.stringify(asseResp, null, 2));
        } catch (error) {
          elemError.innerText = error;
          throw new Error(error);
        }

        const verificationResp = await fetch('/api/passkey/verify-authentication', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(asseResp),
        });

        const verificationJSON = await verificationResp.json();
        printDebug(elemDebug, 'Server Response', JSON.stringify(verificationJSON, null, 2));

        if (verificationJSON && verificationJSON.verified) {
          elemSuccess.innerHTML = `User authenticated!`;
        } else {
          elemError.innerHTML = `Oh no, something went wrong! Response: <pre>${JSON.stringify(
              verificationJSON,
            )}</pre>`;
        }
      });
    </script>
  </body>
</html>
