.am-badge--blue-dsfr {
	color: var(--text-active-blue-france);
	background-color: var(--background-action-low-blue-france);
}

.am-text-mention-grey {
	color: var(--text-mention-grey);
}

.am-color-blue {
	color: var(--text-active-blue-france);
}

:root {
	--am-blue--1: #6565eb;
}

:root[data-fr-theme='dark'] {
	--am-blue--1: #6f6ff3;
}
