.fr-icon-infinity-line::before,
.fr-icon-infinity-line::after {
	-webkit-mask-image: url('/icons/custom/infinity-line.svg');
	mask-image: url('/icons/custom/infinity-line.svg');
}

.fr-icon-more-2-fill::before,
.fr-icon-more-2-fill::after {
	-webkit-mask-image: url('/icons/custom/more-2-fill.svg');
	mask-image: url('/icons/custom/more-2-fill.svg');
}

.fr-icon-search-eye-fill::before,
.fr-icon-search-eye-fill::after {
  -webkit-mask-image: url("/icons/custom/search-eye-fill.svg");
  mask-image: url("/icons/custom/search-eye-fill.svg");
}

.fr-icon-search-eye-line::before,
.fr-icon-search-eye-line::after {
  -webkit-mask-image: url("/icons/custom/search-eye-line.svg");
  mask-image: url("/icons/custom/search-eye-line.svg");
}

.fr-icon-settings-3-line::before,
.fr-icon-settings-3-line::after {
	-webkit-mask-image: url('/icons/custom/settings-3-line.svg');
	mask-image: url('/icons/custom/settings-3-line.svg');
}
