.am-icon-20 {
	&:before {
		--icon-size: 1.25rem;
	}

	&.fr-btn[class*=' fr-icon-']:not([class*='fr-btn--icon-']):before {
		--icon-size: 1.25rem;
		margin-left: 0.125rem;
		margin-right: 0.625rem;
	}
}

.fr-icon-infinity-line::before,
.fr-icon-infinity-line::after {
	-webkit-mask-image: url('/icons/custom/infinity-line.svg');
	mask-image: url('/icons/custom/infinity-line.svg');
}

.fr-icon-more-2-fill::before,
.fr-icon-more-2-fill::after {
	-webkit-mask-image: url('/icons/custom/more-2-fill.svg');
	mask-image: url('/icons/custom/more-2-fill.svg');
}

.fr-icon-search-eye-fill::before,
.fr-icon-search-eye-fill::after {
	-webkit-mask-image: url('/icons/custom/search-eye-fill.svg');
	mask-image: url('/icons/custom/search-eye-fill.svg');
}

.fr-icon-search-eye-line::before,
.fr-icon-search-eye-line::after {
	-webkit-mask-image: url('/icons/custom/search-eye-line.svg');
	mask-image: url('/icons/custom/search-eye-line.svg');
}

.fr-icon-settings-3-line::before,
.fr-icon-settings-3-line::after {
	-webkit-mask-image: url('/icons/custom/settings-3-line.svg');
	mask-image: url('/icons/custom/settings-3-line.svg');
}

.fr-icon-flight-land-line::before,
.fr-icon-flight-land-line::after {
	-webkit-mask-image: url('/icons/custom/flight-land-line.svg');
	mask-image: url('/icons/custom/flight-land-line.svg');
}
