.fr-icon-infinity-line::before,
.fr-icon-infinity-line::after {
  -webkit-mask-image: url("/icons/custom/infinity-line.svg");
  mask-image: url("/icons/custom/infinity-line.svg");
}

.fr-icon-more-2-fill::before,
.fr-icon-more-2-fill::after {
  -webkit-mask-image: url("/icons/custom/more-2-fill.svg");
  mask-image: url("/icons/custom/more-2-fill.svg");
}

.fr-icon-vector-fill::before,
.fr-icon-vector-fill::after {
  -webkit-mask-image: url("/icons/custom/vector-fill.svg");
  mask-image: url("/icons/custom/vector-fill.svg");
}

.fr-icon-vector-line::before,
.fr-icon-vector-line::after {
  -webkit-mask-image: url("/icons/custom/vector-line.svg");
  mask-image: url("/icons/custom/vector-line.svg");
}

.fr-icon-settings-3-line::before,
.fr-icon-settings-3-line::after {
  -webkit-mask-image: url("/icons/custom/settings-3-line.svg");
  mask-image: url("/icons/custom/settings-3-line.svg");
}

.am-text--smbold {
  font-weight: 500 !important;
}

.am-badge--blue-dsfr {
  color: var(--text-active-blue-france);
  background-color: var(--background-action-low-blue-france);
}

.am-text-mention-grey {
  color: var(--text-mention-grey);
}

nav.scrolled .title h1 {
  /* stylelint-disable declaration-no-important */
  font-size: 1.125rem !important;
  line-height: 2.5rem !important;
  /* stylelint-enable declaration-no-important */
}