{% extends "base.html" %}

{% block container %}

  <h2>Envoyer une notification</h2>

  <form>
    <p>
      <label>User to notify
        <select id="register-email">
          {% for registration in registrations %}
            <option value="{{ registration.email }}">{{ registration.email }}</option>
          {% endfor %}
        </select>
      </label>
    </p>
    <p><label>Message to notify <input type="text" id="notify-message-input" /></label></p>
    <p><button type="button" id="notify-message">Notify me</button> <span id="notify-message-status"></span></p>
  </form>

  <h2>Historique global</h2>
  <ul>
    {% for notification in notifications %}
      <li>{{ notification }}</li>
    {% endfor %}
  </ul>
{% endblock container %}


{% block extra_body %}
  <script type="text/javascript" src="/admin.js"></script>
{% endblock extra_body %}
