{% extends "base.html" %}

{% block container %}
  <h2>France Connexion</h2>

  <div class="fr-connect-group">
		<button class="fr-connect" type="button" id="fr-connect-button">
			<span class="fr-connect__login">S’identifier avec</span>
			<span class="fr-connect__brand">FranceConnect</span>
		</button>
		<p>
			<a href="https://franceconnect.gouv.fr/" target="_blank" rel="noopener" title="Qu’est-ce que FranceConnect ? - nouvelle fenêtre">Qu’est-ce que FranceConnect ?</a>
		</p>
	</div>
{% endblock container %}


{% block extra_body %}
  <script type="text/javascript" src="/admin/static/ami-fs-test-login.js"></script>
{% endblock extra_body %}
