<!doctype html>
<html lang="en">
<head>
  <title>Rendez-Vous Officiels</title>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" sizes="32x32">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/dsfr-v1.14.0/dsfr.min.css" />
  <link rel="stylesheet" href="/dsfr-v1.14.0/utility/utility.min.css" />
  <style>
    .rvo {
        border-radius: 8px;
        border: 1px solid #000;
    }
  </style>
  <script lang="ts">
      // FC - Step 3
      const franceConnect = async () => {
          const STATE = 'not-implemented-yet-and-has-more-than-32-chars'
          const NONCE = 'not-implemented-yet-and-has-more-than-32-chars'

          const query = {
              scope:
                  'openid given_name family_name preferred_username birthdate gender birthplace birthcountry sub email given_name_array',
              redirect_uri: '{{ PUBLIC_FC_SERVICE_PROVIDER_REDIRECT_URL }}',
              response_type: 'code',
              client_id: '{{ PUBLIC_FC_SERVICE_PROVIDER_CLIENT_ID }}',
              state: STATE,
              nonce: NONCE,
              acr_values: 'eidas1',
              prompt: 'login',
          }

          const url = `{{ PUBLIC_FC_BASE_URL }}{{ PUBLIC_FC_AUTHORIZATION_ENDPOINT }}`
          const params = new URLSearchParams(query).toString()

          window.location.href = `${url}?${params}`

          return Response.redirect(`${url}?${params}`)
      }
  </script>

</head>
<body>
<main class="container">
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col">
        <h1>MES RENDEZ-VOUS</h1>
        {% block wrapper %}
          {%if not isFranceConnected %}
            <div class="homepage-not-connected">
              <div class="fr-connect-group">
                <button
                        class="fr-connect"
                        type="button"
                        id="fr-connect-button"
                        onclick="franceConnect()"
                >
                  <span class="fr-connect__login">S’identifier avec</span>
                  <span class="fr-connect__brand">FranceConnect</span>
                </button>
                <p>
                  <a href="https://franceconnect.gouv.fr/" target="_blank" rel="noopener" title="Qu’est-ce que FranceConnect ? - nouvelle fenêtre">Qu’est-ce que FranceConnect ?</a>
                </p>
              </div>
            </div>
          {% else %}
            {% block container %}{% endblock container %}
            <form action="/rvo/logout">
              <button type="submit">
                <img src="/dsfr-v1.14.0/icons/system/logout-box-r-line.svg" alt="Icône de déconnexion" />
                <span class="fr-connect__login">Se déconnecter</span>
              </button>
            </form>
          {% endif %}
        {% endblock wrapper %}
      </div>
    </div>
  </div>
</main>
{% block extra_body %}{% endblock extra_body %}
<script type="module" src="/dsfr-v1.14.0/dsfr.module.min.js"></script>
<script type="text/javascript" nomodule src="/dsfr-v1.14.0/dsfr.nomodule.min.js"></script>
</body>
</html>
