{% extends "base-rvo.html" %}

{% block footer_nav_current %}rvo{% endblock %}

{% block container %}
  <div class="fr-my-4v">
    <ul class="fr-btns-group">
      <li>
        <a class="fr-btn rvo-item-add with-radius" href="/">
          <span aria-hidden="true" class="fr-icon-add-line"></span>
          Nouveau rendez-vous
        </a>
      </li>
    </ul>
  </div>
  <div class="fr-tile fr-tile--shadow fr-tile--horizontal fr-enlarge-link fr-my-4v rvo-item with-radius">
    <div class="fr-tile__body">
      <div class="fr-tile__content">
        <h3 class="fr-tile__title"><a href="/">2 août 2025 à 15H15</a></h3>
        <p class="fr-tile__desc">France Travail</p>
        <p class="fr-tile__detail">Rendez-vous dans votre Agence France Travail Paris 18e Ney</p>
      </div>
    </div>
  </div>
  <div class="fr-tile fr-tile--shadow fr-tile--horizontal fr-enlarge-link fr-my-4v rvo-item with-radius">
    <div class="fr-tile__body">
      <div class="fr-tile__content">
        <h3 class="fr-tile__title"><a href="/">25 novembre 2025 à 14H00</a></h3>
        <p class="fr-tile__desc">France Services</p>
        <p class="fr-tile__detail">Rendez-vous dans votre Maison France Services</p>
      </div>
    </div>
  </div>
{% endblock container %}
