{% extends "base-rvo.html" %}

{% block container %}
  <ul>
    <li>
      <button class="fr-btn rvo" type="button">+ Nouveau rendez-vous</button>
    </li>
    <li class="fr-tile rvo">
      <div class="fr-tile__body">
        <div class="fr-tile__content">
          <h3 class="fr-tile__title"><a href="/">2 août 2025 à 15H15</a></h3>
          <p class="fr-tile__desc">France Travail.</p>
          <p class="fr-tile__detail">Rendez-vous dans votre <strong> Agence France Travail Paris 18e Ney</strong></p>
        </div>
      </div>
    </li>
  </ul>
{% endblock container %}
