{% extends "rvo/base.html" %}

{% block style %}
  {{ super() }}
  <style>
    nav .back-link {
      margin-bottom: 24px;
    }
    nav .back-link a {
      text-decoration: none;
      --underline-img: none;
    }
    .notifications--item {
      span {
        color: var(--text-disabled-grey);
        font-size: 12px;
      }
    }
  </style>
{% endblock style %}

{% block footer_nav_current %}test{% endblock %}

{% block wrapper %}
  <nav>
    <div class="back-link">
      <a href="/rvo/test" title="Retour à la page de test">
        <span aria-hidden="true" class="fr-icon-arrow-left-line"></span>
      </a>
    </div>
  </nav>

  <h2>Envoyer une notification à {{ user.email }}</h2>

  <form class="fr-pb-4v" action="" method="post">
    <div class="fr-input-group">
      <label class="fr-label" for="send-notification-title-input">Titre</label>
      <input class="fr-input" aria-describedby="input-messages" id="send-notification-title-input" type="text">
      <div class="fr-messages-group" id="input-messages" aria-live="polite">
      </div>
    </div>
    <div class="fr-input-group">
      <label class="fr-label" for="send-notification-message-input">Message</label>
      <input class="fr-input" aria-describedby="input-messages" id="send-notification-message-input" type="text">
      <div class="fr-messages-group" id="input-messages" aria-live="polite">
      </div>
    </div>
    <div class="fr-input-group">
      <label class="fr-label" for="send-notification-sender-input">Expéditeur</label>
      <input class="fr-input" aria-describedby="input-messages" id="send-notification-sender-input" type="text">
      <div class="fr-messages-group" id="input-messages" aria-live="polite">
      </div>
    </div>

    <button class="fr-btn" type="submit" id="send-notification-button" onclick="sendNotification()">
      Envoyer
    </button>
    <span id="send-notification-status"></span>
  </form>

  {% if user.notifications %}
    <h3>Historique des notifications</h3>
    <ul class="notifications">
      {% for notification in user.notifications|reverse %}
        <li class="notifications--item">#{{ notification.id }} {{ notification.title }} - {{ notification.message }} <span>envoyé par: {{ notification.sender }}, le {{ notification.date.strftime('%d/%m/%Y %H:%M:%S') }}</span></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock wrapper %}

{% block extra_body %}
  <script lang="ts">
    const sendNotification = async () => {
      const notifyTitleInput = document.querySelector('#send-notification-title-input')
      const notifyMessageInput = document.querySelector('#send-notification-message-input')
      const notifySenderInput = document.querySelector('#send-notification-sender-input')
      const notifyMessageBtn = document.querySelector('#send-notification-button')
      const notifyMessageStatus = document.querySelector('#send-notification-status')

      const payload = {
        title: notifyTitleInput.value,
        message: notifyMessageInput.value,
        sender: notifySenderInput.value,
        user_id: {{ user.id }},
      }
      console.log(payload)
      console.log('notifying a message')
      notifyMessageBtn.disabled = true
      notifyMessageStatus.innerText = 'Notifying...'
      const response = await fetch('/api/v1/notifications', {
        method: 'POST',
        body: JSON.stringify(payload),
      })
      console.log('response from AMI:', response)
      notifyMessageBtn.disabled = false
      if (response.status < 400) {
        notifyMessageStatus.innerText = 'Done!'
      } else {
        notifyMessageStatus.innerText = `error ${response.status}: ${response.statusText}, ${response.body}`
      }
    }
  </script>
{% endblock extra_body %}
